<!DOCTYPE html>

<html ng-app="zincApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zinc</title>

    <link href="/Content/css/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Sarina' rel='stylesheet' type='text/css'>
</head>
<body>


    <header>

        <div id="header">
            <div id="zinclogo">
                Zinc
            </div>

            <nav id="mainNav">

                <ul>
                    <li><a href="#/">Home</a></li>
                    <li><a href="#/about">About</a></li>
                    <li><a href="#/products">Products</a></li>

                        <li><a href="#/login">Login</a></li>
                        <li>@Html.ActionLink("LoggedIn", "LoggedIn", "Home")</li>

                </ul>

            </nav>

        </div>



    </header>


    <div id="container">

        <div>
            
            <h3>Home Page</h3>

        </div>

    </div>

</body>
</html>