<!DOCTYPE html>

<html>
<head>
    <title>Zinc - Logged In</title>

    <link href="/Content/css/loggedin.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Sarina' rel='stylesheet' type='text/css' />

</head>
<body>
    <div id="banner">
        <div id="top">
            <div id="zinclogo">
                Zinc
            </div>
            <nav id="topNav">   
                    <ul>
                        <li><a href="#/">Home</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/products">Products</a></li>

                        <li><a href="#/login">Login</a></li>

                    </ul>
            </nav>
            <nav id="logininfo">
                <ul>
                    <li><a href="#/">aogden</a></li>
                    <li><a href="#/">settings logo</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="container">

        <div id="headerNav">
            <div>
                dashboard home
            </div>
            <nav id="dash">
                <ul>
                    <li><a id="href-status" href="#">Status</a></li>
                    <li><a id="href-reports" href="#">Reports</a></li>
                    <li><a id="href-configs" href="#">Configurations</a></li>
                </ul>
            </div>

        <div>
            <h3>Home Page</h3>
        </div>

    </div>

</body>
</html>