/*
    BHS Colors:
    Orange: #f8a11c
    Gray:   #ccc
    Blue:   #022f68
    
*/

html, body {
    font-family: sans-serif;
}

header {
    border-bottom: 4px solid #f8a11c;
    padding-bottom: 10px;
    background-color: #022f68;
    height: 25px;
    min-width: 1044px;
}

header div {

    width: 960px;
    margin: 0 auto;

}

div
{
    display: block;

    text-align: center;
    }

#banner
{
    border-bottom: 4px solid #f8a11c;
    padding-bottom: 10px;
    background-color: #022f68;
    height: 25px;
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    vertical-align: middle;
    }
    
    #top
    {
        width: 960px;
        margin: 0 auto;
        }


a {
    color: #fff;
    text-decoration: none;
}

h2 {
    color: #ffffff;
}

#container {
    margin: 0 auto;
    width: 960px;
    background-color: White;
    padding-top: 35px;
}


#zinclogo
{
    font-family: 'Sarina', cursive;
    font-size: 25px;
    float: left;
    width: auto;
    }

#topNav {
    float: left;
}

    #topNav li {
        display: inline;
        margin-left: 20px;
    }

        #topNav li a {
            font-size: 15px;
        }

            #topNav li a.active {
                color: #f8a11c;
                text-decoration: underline;
            }
            
#logininfo
{
    float: right; 
    }
    
    #logininfo li
    {
        display: inline;
        margin-left: 7px;
        }

#dash
{
    text-align:center;
    }
    #dash ul
    {
        overflow:hidden;
        }
    
    #dash ul li
    {
        display:inline-block;
        float:left;
        font-size:20px;
        margin-left:6px;
        text-align:center;
        width:233px
        }
        
        #dash ul li a 
        {
            display: block;
            background-position:top center;
            background-repeat:no-repeat;
            display:block;
            height:20px;
            padding:72px 0 20px 0;
            color:#f8a11c;
            text-decoration:none;
            }
        
        #dash ul li #href-configs
        {
            background-image: url("/content/img/config.png");
            background-size: 70px 70px;
            }
            
        #dash ul li #href-reports
        {
            background-image: url("/content/img/reports.png");
            background-size: 70px 70px;
            }
        #dash ul li #href-status
        {
            background-image: url("/content/img/status.jpg");
            background-size: 70px 70px;
            }
        
            
    